@keyframes bb {
  from{
    height: 10px;
  }
  to{
    height: 100px;
  }
}
@keyframes byby {
  from{
    height: 100px;
  }
  to{
    height: 10px;
  }
}

.b{
  animation-name: bb;
  animation-duration: 1s;
}
.c{
  animation-name: bb;
  animation-duration: 0.5s;
}
.by{
  animation: byby 0.5s;
}
#playerBorad{
    width: 550px;
    margin: 10px auto;
    display: none;
    align-items: center;

}
#playerBorad > p{
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
}
#playerBorad > h1{
    font-size: 80px;
    margin: 0 15px;
}
.red{background-color: #FF0000;}
.blue{background-color: #0085FF;}


#board{
    width: 510px;
    height: 480px;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    animation: bb, 1s;
    overflow: hidden;
}
#board > section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin: 0;
    cursor: pointer;
}
#pan1 {
    border-right: 3px solid #4AA072;
    border-bottom: 3px solid #4AA072;
  }
  #pan2 {
    border: 3px solid #4AA072;
    border-top: none;
  }
  #pan3 {
    border-left: 3px solid #4AA072;
    border-bottom: 3px solid #4AA072;
  }
  #pan4 {
    border: 3px solid #4AA072;
    border-left: none;
  }
  #pan5 {
    border: 3px solid #4AA072;
  }
  #pan6 {
    border: 3px solid #4AA072;
    border-right: none;
  }
  #pan7 {
    border-top: 3px solid #4AA072;
    border-right: 3px solid #4AA072;
  }
  #pan8 {
    border: 3px solid #4AA072;
    border-bottom: none;
  }
  #pan9 {
    border-top: 3px solid #4AA072;
    border-left: 3px solid #4AA072;
  }
  


#mark{
    display: none;
    background-color: black;
    color: white;
    width: 360px;
    padding: 10px;
    font-size: 20px;
    margin:50px auto;
    text-align: center;
    border-radius: 10px;
    animation: bb, 1s;
}



#result{
  display: none;
  text-align: center;
  margin: 90px auto;
  margin-bottom: 150px;
  width: 510px;
  height: 300px;
}
#result > img{
  width: 230px;
}
#result > h3{
  color: #347351;
  font-size: 20px;
}
#result > h1{
  color: #347351;
  font-size: 50px;
}


@keyframes hiC {
  from{
    height: 10px;
  }
  to{
    height: 100px;
  }
}
#congrats{
  display: none;
  position: absolute;
  justify-content: space-between;
  width: 1080px;
  top: 200px;
  left: 200px;
}
#congrats > div{
  overflow: hidden;
  animation: hiC 0.5s;
}
#congrats > img:first-child{
  transform: rotate(270deg);
}